html{
    background-color: white;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: green;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.first-one{
    border:1px solid black;
    display:block;
    line-height: 1.2;
}
.second-one{
    border:1px solid black;
    display:block;
    line-height: 1.2;
}
.third-one{
    border:1px solid black;
    display:block;
    line-height: 1.2;
}
.fourth-one{
    border:1px solid black;
    display:block;
    line-height: 1.2;
}
